.circle {
  width: 200px;
  height: 200px;
  background-color: #257951;
  /* shorthand property */
  /* property | duration | timing-function | delay*/
  transition: background-color ease 1s 1s;
  /* all is not best convention to write instead write each property separately you might
change or tweak the properties and the property that performs transition*/
  transition: all ease 1s 1s;
  transition: background-color ease 1s 1s, border-radius ease-in 2s;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: #257951;
  /* shorthand property */
  /* property | duration | timing-function | delay*/
  transition: background-color ease 1s 1s;
  transition-property: background-color, border-radius;
  transition-duration: 1s; /* whole duration of transition */
  transition-timing-function: ease-in;
  transition-delay: 1s;
}

.circle:hover {
  background-color: #ff809c;
  border-radius: 50%;
}

section div {
  height: 100px;
  width: 100px;
  background-color: rgb(43, 209, 154);
  margin: 20px 0;
  transition: margin-left 3s;
}

section:hover div {
  margin-left: 500px;
}

div:nth-of-type(1) {
  transition-timing-function: ease-in;
}
div:nth-of-type(2) {
  transition-timing-function: ease-out;
}
div:nth-of-type(3) {
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
div:nth-of-type(4) {
  transition-timing-function: cubic-bezier(0.115, 0.82, 0.165, 1);
}
